body {
    font-family: 'Times New Roman', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #374151; 
    color: white; 
}

#app {
    text-align: left;
    padding: 20px;
    color: #aab8d3;
}

#task-container {
    max-width: 400px;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    margin: 5px 0;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.7;
    color: white;
}

#input-container {
    margin-top: 20px;
}

input {
    padding: 8px;
    background-color: #555;
    color: white;
    background-color: #1F2937;
    border-radius: 1em;
}

button {
    color: #EC4899;
    font-size: 1rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #EC4899, #8B5Cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}
